<%# <h1>Events</h1>

<%= render 'events/event_feed' %>

<%# <%= link_to 'Add New Event', new_event_path %> 

<header>
  <div>
    <h1 class="text-logo">Private Events</h1>
  </div>
  <div class="nav-links">
    <a id="log-in-text" href="">Log In</a>
    <a id="btn" href="">Sign Up</a>
  </div>
</header>