
<%= render 'events/navbar' %>

<%# <%= link_to 'Add New Event', new_event_path %> 

<div class="container">
  <h1 class="heading">All Upcoming Events</h1>


  <div class="events-grid">
  <% @events.each do |event| %>
        <div class="event-card">
          <h3 class="event-title"> <%= event.title %> </h3>
          <p class="event-time"><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <%= event.date%> </p>
          <div class="event-btn">Event Details</div>        
        </div>
        <% end %>
    </div>
</div>


<footer class="footer">
  <div class="container-1">
   <hr> 
     <div class="past-events">
     <h1 class="heading-2">Past Events</h1>
    <p class="past-event">Jade's birthday on 3rd July 2021<i class="fa fa-info-circle" aria-hidden="true"></i></p>
    <p class="past-event">European Cup Final on May 20th 2021 <i class="fa fa-info-circle" aria-hidden="true"></i></p>
    <p class="past-event">Prime Minister's Questions on 30th June 2021 <i class="fa fa-info-circle" aria-hidden="true"></i></p>
  </div>

  </div>

</footer>