/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Lato', sans-serif;
}

header { 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #00d0ea;
   width: 100%;
 }

 .text-logo {
   color: white;
   font-weight: 800;
   font-size: 1em;
   letter-spacing: 1px;
   margin: 5px 5px 5px 20px;
 }

 .nav-links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 30%;
   font-weight: 500;
   margin-right: 10px;
 } 

 a {
   text-decoration: none;
   font-size: 0.5em;
   color: #4b4e4f;
 }

 #btn {
   background-color: white;
   padding: 4px 5px 4px 5px;
   border-radius: 5px;
 }

 .container {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-right: 15px;
   margin-left: 15px;
   margin-top: 15px;
 }

 .heading {
   font-size: 1.4em;
   color: #002b7c;
   font-weight: 700;
   margin-bottom: 25px;
 }

 .heading-2 {
  font-size: 1.6em;
  color: #002b7c;
  font-weight: 700;
}

 .events-grid {
   display: flex;
   flex-direction: column;
  }

 .event-card {
   border-radius: 5px;
   background-color: #f0eeeb;
   box-shadow: rgba(220, 181, 181, 0.1) 0px 0.5em 1em -0.125em, rgba(10, 10, 10, 0.02) 0px 0px 0px 1px;
   margin-bottom: 27px;
   padding: 25px;
 }

 .event-title {
   font-size: 1.2em;
   color: #002b7c;
   font-weight: 700;
   margin-bottom: 15px;
 }

 .event-time {
  font-size: 0.9em;
  font-weight: 500;
  color: #002b7c;
  margin-bottom: 15px;
 }

 .event-btn {
  border: 1px solid #0072b1;
  border-radius: 4px;
  padding: 5px 10px 5px 10px; 
  text-align: center;
  color: #0072b1;
  }

  .fa-calendar {
    margin-right: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-1 {
    width: 71%;
    margin-bottom: 50px;
  }

  hr {
    background-color: whitesmoke;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
    text-align: center;
  }

  .past-events {
    display: block;
    width: 100%;
    color: #0072b1;
  }

  .past-event {
    text-align: left;
  }

  .btn {
    background-color: #00d0ea;
    width: 100%;
    border-radius: 5px;
    height: 2.5em;
  }



  // Sign-up page & Log In pages




.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sign-up-heading {
  font-size: 1.4em;
  color: #002b7c;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}


.log-in-heading {
  font-size: 1.4em;
  color: #002b7c;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.new_user {
  width: 75%;
}

.form-field {
  width: 98%;
  border-radius: 5px;
  background-color: #deeef0;
  height: 50px;
  margin-bottom: 10px;
  border: 2px solid #deeef0;
  padding: 5px;
}

.form-field:hover {
  width: 98%;
  border-radius: 5px;
  background-color: #deeef0;
  height: 50px;
  margin-bottom: 10px;
  border: 2px solid #0072b1;
}


@media (min-width: 320px) {
   .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    font-weight: 500;
  }

  .text-logo {
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 0.7em;
    color: #4b4e4f;
  }

  #btn {
    background-color: white;
    padding: 6px 7px 6px 7px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .heading {
    font-size: 1.6em;
  }

  .event-title {
    font-size: 1.4em;
  }

  .event-time {
    font-size: 1em;
  }

  .event-btn {
    font-size: 1.2em;
  }
} 

// sign-up page

.sign-up-heading {
  font-size: 1.6em;
}

.new_user {
  width: 75%;
}

@media (min-width: 640px) {

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: #4b4e4f;
  }

  .heading {
    font-size: 1.8em;
  }

  .event-title {
    font-size: 1.6em;
  }

  .event-time {
    font-size: 1.2em;
  }

  .event-btn {
    font-size: 1.4em;
    padding: 5px 10px 5px 10px; 
  }

}

// sign-up page

.sign-up-heading {
  font-size: 1.8em;
}

.new_user {
  width: 60%;
}

@media (min-width: 768px) {
  
  .text-logo {
    font-size: 1.8em
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }

  .container {
    align-items: center;  
  }

  .heading {
    width: 75%;
    text-align: left;
    margin-left: 25px;
    font-size: 2em
  }

  .events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
  }

  .event-card {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }

  .event-title {
    margin-bottom: 27px;
  }

  .event-time {
    margin-bottom: 27px;
  }
}

// sign-up page

.sign-up-heading {
  font-size: 2em;
  width: 100%;
}

.new_user {
  width: 40%;
}

@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }

  #btn {
    background-color: white;
    padding: 0px 12px 10px 12px;
    border-radius: 5px;
  }

  .text-logo {
    color: white;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: #4b4e4f;
  }
}

@media (min-width: 1280px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }
}