/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
  font-family: 'Lato', sans-serif;
}

header { 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #ffba75;
   width: 100%;
 }

 .text-logo {
   color: white;
   font-weight: 600;
   font-size: 1em;
   letter-spacing: 1px;
   margin: 5px 5px 5px 20px;
 }

 .nav-links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 30%;
   font-weight: 500;
   margin-right: 10px;
 }

 a {
   text-decoration: none;
   font-size: 0.5em;
   color: #4b4e4f;
 }

 #btn {
   background-color: white;
   padding: 4px 5px 4px 5px;
   border-radius: 5px;
 }

@media (min-width: 320px) {
   .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-weight: 500;
  }

  .text-logo {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 0.7em;
    color: #4b4e4f;
  }

  #btn {
    background-color: white;
    padding: 6px 7px 6px 7px;
    border-radius: 5px;
    margin-left: 10px;
  }
 
} 

@media (min-width: 640px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }

  .text-logo {
    color: white;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: #4b4e4f;
  }
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }

  #btn {
    background-color: white;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
  }

  .text-logo {
    color: white;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 20px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: #4b4e4f;
  }
 
}

@media (min-width: 1280px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: 500;
  }
}